.create-button {
    display: inline-block;
    background-color: #0E8784;
    border-radius: 6px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    padding: 16px 31px;
}

.create-button:hover {
    background-color: #66D2CF;
}