.header {
    background-color: #F2F2F2;
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0 34px;
}

.header__link-img {
    width: 236px;
    height: 26px;
}

.header_list {
    display: flex;
}

.header_list-item + .header_list-item {
    margin-left: 33px;
}

.list__item-link {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.list__item-link:hover{
    color: #333D4B;
}

.header__hamburger-link {
    display: none;
    
}

.header__hamburger-img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}






@media only screen and (max-width: 400px) {


    
    .header__title {
        padding: 32px 0 41px;
    }
    
    .header__link-img {
        width: 163px;
        height: 18px;
    }
    
    .header_list {
        display: none;
    }

    
    .header__hamburger-link {
        display: block;
    }





}